.postsGrid {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  min-height: 300px;

  .posts {
    padding: 50px;

    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 125%;
      color: hsla(238, 22%, 27%, 1);
      margin-bottom: 53px;
    }

    .link {
      background-color: hsla(238, 22%, 27%, 1);
      border-radius: 10px;
      height: 56px;
      color: white;
      font-size: 16px;
      padding: 18px 56px;
    }
  }
}

.grid {
  background-color: hsla(0, 0%, 85%, 1);
  padding: 36px 96px;
  border-radius: 30px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 24px;
  justify-content: center;

  // @media (max-width: 400px) {
  //   grid-template-columns: 1fr;
  // }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 50px 50px;

  .button {
    width: 100%;
    max-width: 218px;
  }
}
